<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huomai.business.mapper.HuomaiUserPromoteMapper">

    <resultMap type="com.huomai.business.domain.HuomaiUserPromote" id="HuomaiUserPromoteResult">
        <result property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="videoId" column="video_id"/>
        <result property="createTime" column="create_time"/>
        <result property="status" column="status"/>
        <result property="hotNum" column="hot_num"/>
        <result property="profit" column="profit"/>
        <result property="sendVal" column="send_val"/>
        <result property="receivedVal" column="received_val"/>
    </resultMap>

    <select id="queryList" resultType="com.huomai.business.vo.HuomaiUserPromoteVo">
        SELECT
        p.*,
        u.uuid,
        u.nick_name,
        u.phone,
        u.avatar,
        v.title,
        v.video_url
        FROM
        huomai_user_promote AS p
        LEFT JOIN huomai_user AS u ON u.user_id = p.user_id
        LEFT JOIN huomai_video AS v ON v.video_id = p.video_id
        WHERE
        1 = 1
        <if test=" bo.uuid != null and bo.uuid != '' ">
            AND u.uuid = #{bo.uuid}
        </if>
        <if test=" bo.title != null and bo.title != '' ">
            AND v.title = #{bo.title}
        </if>
        <if test=" bo.status != null and bo.status != '' ">
            AND p.`status` = #{bo.status}
        </if>
        <if test="bo.createTime != null and bo.createTime != '' ">
            AND date_format(p.create_time,'%y%m%d') = date_format(#{bo.createTime},'%y%m%d')
        </if>
    </select>

</mapper>
